fastapi
uvicorn
starlette
pydantic
pydantic-core
requests
httpx
httpcore
aiohttp
aiofiles
aiosignal
anyio
h11
websockets
python-multipart

pandas
scipy
scikit-learn
scikit-image
opencv-python
pillow
imageio
networkx
tqdm
click
pyyaml
orjson
packaging
jinja2
markupsafe
joblib
psutil
absl-py
addict

gradio
gradio-client
matplotlib
contourpy
cycler
fonttools
kiwisolver


transformers
accelerate
peft
diffusers
safetensors
einops
sentencepiece
huggingface-hub
